/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: rgba(215,215,215,1);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    font-size: 150%;
    color: #000080;
    text-align: center;
    padding: 25px 1.5% 0px 0px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.25s;
}

/* Change color on mouse-over */
.navbar a:hover {
    color: rgb(128,128,128);
    transition: 0.25s;
}


.footer {
    background-color: rgba(215,215,215,1);
    width: 100vw;
    padding-top: 5vh;
    padding-left: 25vw;
    padding-right: 25vw;
}

#footer_left {
    display: inline-block;
    float: left;
    margin-right: 13vw;
    width: 23vw;
}

#footer_right {
    display: inline-block;
    color: #000090;
    line-height: 2.5vh;
}

#spacing {
    background-color: rgba(215,215,215,1);
    height: 2vw;
}


/* MEDIA QUERRIES */
/* Medium devices (landscape tablets, 1024px and up) */
@media only screen and (min-width: 1024px) {
    #footer_left, #footer_right {
        font-size: 1em;
    }
    #footer_left {
        margin-right: 13vw;
        width: 23vw;
    }
}

/* Large devices (laptops/desktops, 1280px and up) */
@media only screen and (min-width: 1280px) {
    #footer_left, #footer_right {
        font-size: 1.5em;
    }
}

/* Large devices (laptops/desktops, 1366px and up) */
@media only screen and (min-width: 1366px) {
    #footer_left, #footer_right {
        font-size: 1em;
    }
    .main {
        margin-top: 100px; /* Add a top margin to avoid content overlay */
    }
}

/* Extra large devices (large laptops and desktops, 1600px and up) */
@media screen and (min-width : 1600px) {
}


/* MOBILE STYLING */
.top {
    overflow: hidden;
    background-color: rgba(215,215,215,1);
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.top a {
    float: left;
    display: block;
    font-size: 150%;
    color: #000080;
    text-align: center;
    padding: 25px 1.5% 0px 0px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.25s;
}

#mobile_nav {
    z-index: 100;
    padding-top: 100px;
    visibility: hidden;
    opacity: 0;
    background: #000080;
    position: fixed;
    top: 0;
    line-height: 10vh;
    font-size: 2.5em;
    text-align: center;
    width:100%;
    height: 100%;
    transition: visibility 0s opacity 1s linear;
}
#mobile_nav a {
    text-decoration: none;
    color: rgb(135,206,250);
}

.mobile_footer {
    background-color: rgba(215,215,215,1);
    padding: 5vh 20px 20px 20px;
}
.mobile_footer p {
    padding-right: 20px;
    padding-left: 20px;
}
#mobile_footer_below {
    line-height: 2.5vh;
}
