.main_image {
    margin-top: 75px; /* Add a top margin to avoid content overlay */
    background-color: rgba(215,215,215,1);
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.container a {
    text-decoration: none;
    color: white;
}

.blocks {
/*    border: 2px solid red;*/
    display: inline-block;
    width: 24.6vw;
    font-size: 2em;
    font-weight: bold;
    color: white;
    font-family: "Courier New", Courier, monospace;
    margin: 0px;
    padding: 2.5% 5vw 0px 4vw;
}

.blocks p {
    font-size: 0.5em;
    text-align: justify;
}

#arrow{
    width: 3vw;
    height: 5vh;
    transition: 0.25s;
}

#arrow:hover{
    width: 4vw;
    height: 5vh;
    transition: 0.25s;
}

#b1 {
    box-shadow: inset 0 0 0 1000px rgba(76,7,129,0.75), inset 0 0 0 1000px rgba(0,0,0,0.65);
    background-image: url("../images/index/b1.jpeg");
    background-size: cover;
}

#b2 {
    box-shadow: inset 0 0 0 1000px rgba(81,154,196,0.75), inset 0 0 0 1000px rgba(0,0,0,0.65);
    background-image: url("../images/index/b2.jpeg");
    background-size: cover;
}

#b3 {
    box-shadow: inset 0 0 0 1000px rgba(166,250,148,0.75), inset 0 0 0 1000px rgba(0,0,0,0.5);
    background-image: url("../images/index/b3.jpg");
    background-size: cover;
}

#b4 {
    box-shadow: inset 0 0 0 1000px rgba(255,255,48,0.75), inset 0 0 0 1000px rgba(0,0,0,0.65);
    background-image: url("../images/index/b4.jpg");
    background-size: cover;
}



/* MEDIA QUERRIES */
/* Extra small devices (phones, 800px and down) */
@media only screen and (max-width: 800px) {
    #pc {
        display: none;
    }
    #mobile {
        display: block;
    }
}

/* Small devices (portrait tablets and large phones, 800px and up) */
@media only screen and (min-width: 800px) {
    #pc {
        display: none;
    }
    #mobile {
        display: block;
    }
}

/* Medium devices (landscape tablets, 1024px and up) */
@media only screen and (min-width: 1024px) {
    .blocks, #footer_left, #footer_right {
        font-size: 1.8em;
    }
    #footer_left, #footer_right {
        line-height: 2.5vh;
        font-size: 1em;
    }
    #pc {
        display: block;
    }
    #mobile {
        display: none;
    }
    #heading {
        font-size: 0.9em;
    }
}

/* Large devices (laptops/desktops, 1280px and up) */
@media only screen and (min-width: 1280px) {
    .blocks, #footer_left, #footer_right {
        font-size: 2em;
    }
    #footer_left, #footer_right {
        line-height: 2.5vh;
        font-size: 1em;
    }
    #pc {
        display: block;
    }
    #mobile {
        display: none;
    }
}

/* Large devices (laptops/desktops, 1366px and up) */
@media screen and (min-width : 1366px) {
    .main_image {
        margin-top: 80px; /* Add a top margin to avoid content overlay */
    }
}

/* Extra large devices (large laptops and desktops, 1600px and up) */
@media screen and (min-width : 1600px) {
    .blocks {
        font-size: 3em;
    }
    #footer_left, #footer_right {
        line-height: 2.5vh;
        font-size: 1.5em;
    }
}


/* MOBILE STYLING */
.mobile_blocks {
/*    border: 2px solid red;*/
    display: inline-block;
    width: 100vw;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: "Courier New", Courier, monospace;
    padding: 3vh 5vw 10px 4vw;
}

.mobile_blocks p {
    text-align: center;
}

.mobile_blocks a {
    text-decoration: none;
    color: white;
}

#mobile_heading {
    font-size: 2.5em;
}

#mobile_arrow{
    width: 10vw;
    height: 5vh;
    transition: 0.25s;
}

