body{
    background: rgb(75,0,130);
}

.outreach {
    margin-top: 75px;
    display: inline-block;
    padding: 10vh 0px 10vh 0px;
    margin-left: 25vw;
    margin-right: auto;
    width: 50%;
    font-size: 2em;
    color: white;
    text-align: justify;
    background: rgb(75,0,130);
}


/* SPAN CREATOR*/
.justified {
    position: relative;
    width: 100%;
}

.container {
    position: absolute;
    background: rgb(0,0,0,0.5);
    transition: .5s ease;
    transform: scale(1);
    background-size: contain;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover{
    transition: .5s ease;
    transform: scale(1.75);
    z-index: 1;
}

.container:hover .image {
    opacity: 1;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: black;
    color: white;
    font-size: 1.5em;
    padding: 2px 4px;
}


/* MOBILE STYLING */
.mobile_outreach {
    margin-top: 0px;
    display: inline-block;
    padding: 10vh 0px 5vh 0px;
    margin-left: 10vw;
    margin-right: auto;
    width: 80%;
    font-size: 2em;
    color: white;
    text-align: justify;
    background: rgb(75,0,130);
}

.mobile_middle {
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.mobile_container {
/*    border: 2px solid red;*/
    transition: .5s ease;
    transform: scale(1);
    background-size: contain;
}

